<div class="container-fluid">

  <div class="row">

    <div class="col-8" style="background-color:white;">
      <div class="container">
        <h1>COMP3121</h1>
        <hr>
        <h3>Course Details</h3>
        <b>University</b>
        <p>UNSW</p>
        <b>Description</b>
        <p>A detailed description of the course should be located here</p>
        <hr>
        <div class="">
          <h2>Notes</h2>
          <p>Notes here</p>
        </div>
      </div>
    </div>

    <div class="col-4 reviewBox" style="background-color:white;">
      <h2>Course Reviews</h2>
      <hr>
      <b>User1</b>
      <p>This course is good</p>
      <hr>
      <b>User2</b>
      <p>This course is good</p>
      <hr>
      <b>User3</b>
      <p>This course is good</p>
    </div>

  </div>
</div>
