<div class="row">
  <div class="col-8" style="background-color:white;">
    <div class="container">
      <h3>UNSW</h3>
      <hr>

      <b>Description</b>
      <p>A detailed description of the university should be located here</p>
      <hr>

      <div class="">
        <h3>Courses</h3>
        <p>Courses here</p>
        <a routerLink="/university/unsw/course/comp3121">COMP3121</a>
      </div>
    </div>
  </div>

  <div class="col-4 reviewBox" style="background-color:white;">
    <h3>Course Reviews</h3>
    <hr>
    <app-response-box></app-response-box>
    <app-response-box></app-response-box>
    <app-response-box></app-response-box>
    <app-response-box></app-response-box>
    <app-response-box></app-response-box>
  </div>

</div>
