<div class="modal fade" id="signupModal" tabindex="-1" role="document" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 style="margin-left: 36%">Sign Up</h1>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">

                  <form action="">
                    <div class="form-group">
                      <label for="">First Name</label>
                      <input type="text" class="form-control form-control-sm" placeholder="First Name">
                    </div>
                    <div class="form-group">
                      <label for="">Last Name</label>
                      <input type="text" class="form-control form-control-sm" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                      <label for="">Email Address</label>
                      <input type="email" class="form-control form-control-sm" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="">Password</label>
                      <input type="password" class="form-control form-control-sm" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <label for="">Confirm Password</label>
                      <input type="password" class="form-control form-control-sm" placeholder="Confirm Password">
                    </div>
                  </form>

                </div>
                <div class="modal-footer" style="margin-right: 25%">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
