
  <div class="row">

    <div class="col-2 filterBox" style="background-color:white;">
      <h3>Filter</h3>
      <hr>
      <p>Option 1</p>
      <p>Option 2</p>
      <p>Option 3</p>
    </div>

    <div class="col-9" style="background-color:white;">
        <h3>Results</h3>
        <hr>

        <b>Courses</b>
        <ul>
          <li>A list of courses goes here</li>
          <li><a routerLink="/university/unsw/course/comp3121">COMP3121</a></li>
        </ul>

        <b>Notes</b>
        <ul>
          <li>A list of notes goes here</li>
          <li><a routerLink="/note/bh41u23u">Notes for cool kids</a></li>
        </ul>

        <b>Universities</b>
        <ul>
          <li>A list of uni's goes here</li>
          <li><a routerLink="/university/unsw">UNSW</a></li>
        </ul>

    </div>

  </div>
