<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <h1>Preview</h1>

    </div>
    <div class="col-4 reviewBox">
      <h1>Details</h1>
      <p>Details about the notes go here.</p>
      <p>Details about the notes go here.</p>
      <p>Details about the notes go here.</p>
      <p>Details about the notes go here.</p>
      <p>Details about the notes go here.</p>
      <p>Details about the notes go here.</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-8">
      <h1>Comment Section</h1>
      <b>Comment 1</b>
      <p>I am a comment</p>
      <b>Comment 2</b>
      <p>I am a comment</p>
      <b>Comment 3</b>
      <p>I am a comment</p>
    </div>
    <div class="col-4">
      <h1>Review Section</h1>
      <b>Review 1</b>
      <p>I am a Review</p>
      <b>Review 2</b>
      <p>I am a Review</p>
      <b>Review 1</b>
      <p>I am a Review</p>
    </div>
  </div>
</div>
