<div class="row">
  <div class="col-8">
    <h1>Preview</h1>
  </div>

  <div class="col-4" style="border-left:solid;border-width:1px">
    <h3>Details</h3>
    <p><b>Title: </b> Cool notes for cool kids.</p>
    <p><b>Author: </b> Username</p>
    <p><b>Last Updated: </b> ##/##/###</p>
    <p><b>Description: </b> This is a description of the notes, what they cover ect.</p>
    <button class="btn btn-danger">DOWNLOAD</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-8">
    <h3>Comment Section</h3>
    <app-response-box></app-response-box>
    <app-response-box></app-response-box>
    <app-response-box></app-response-box>
    <app-response-box></app-response-box>
    <app-response-box></app-response-box>
  </div>

  <div class="col-4" style="border-left:solid;border-width:1px">
    <h3>Review Section</h3>
    <app-response-box></app-response-box>
    <app-response-box></app-response-box>
    <app-response-box></app-response-box>
    <app-response-box></app-response-box>
    <app-response-box></app-response-box>
  </div>
</div>
